// scss variables
@import 'base/vars.scss';
// reset
@import 'base/reset';

* {
   font-family: 'MuseoModerno', cursive;
}

.container {
   max-width: 940px;
   margin: 0 auto;
}
//SECTION promo
@import 'blocks/promo.scss';
//SECTION header
@import 'blocks/header.scss';
//SECTION buttons
@import 'blocks/buttons';
//SECTION advantages
@import 'blocks/advantages';
//SECTION consultation
@import 'blocks/consultation';
//Titles
@import 'blocks/titles';
// forms
@import 'blocks/forms';
// Section Carousel
@import 'blocks/carousel';
// sviper
@import 'blocks/swiper-bundle';
// catalog
@import 'blocks/catalog';
// section reviews
@import 'blocks/reviews'





