@import 'base/vars.scss';

* {
   font-family: 'MuseoModerno', cursive;
}

.container {
   max-width: 940px;
   margin: 0 auto;
}
// promo
@import 'blocks/promo.scss';
// header
@import 'blocks/header.scss';
// buttons 
@import 'blocks/buttons';
// advantages
@import 'blocks/advantages';
