.advantages {
   max-height: 472px;
   padding: 75px 0 64px 0;
   background-color: #F6F6F6;
   &__header {
      margin: 0;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      color: #0D0D0D;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__icons {
      margin-top: 60px;
      width: 265px;
      img {
         width: 70px;
         height: 70px;
         display: block;   
         margin: 0 auto;
      }
   }
   &__text {
      margin-top: 35px;
      font-style: 700;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #0D0D0D;

   }
   &__descr {
      margin: 0;
      margin-top: 20px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #0D0D0D;
      &__descr:first-of-type {
         width: 250px;
     
   }


}

}