.carousel {
   padding: 81px 0;
   &__inner {
      width: 750px;
      margin: 0 auto;
      position: relative;

   }
   .slick-prev, .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      background-color: #fff;
      img {
         width: 30px;
         height: 50px;
      } 
   }
   .slick-next {
      right: -66px;
      left: auto;
   }
   .slick-dots {
      display: flex;
      justify-content: center;
      list-style-type: none;
      & button {
         font-size: 0;
         width: 10px;
         height: 10px;
         background-color: #000;
         border-radius: 50%;
         margin: 0 10px;
         transition: all 0.3s;    
      }
      .slick-active button {
         background-color: $main-color;
         border: 1px solid #000;
      }   
   }
}

@media (max-width: 992px) {
   .carousel {
      &__inner {
         width: 90%;

         position: relative;
         img {
            display: block;
            margin: 0 auto;
         }
   
      }
}
}