.carousel {
   padding: 81px 0;
   &__inner {
      width: 750px;
      margin: 0 auto;
      position: relative;
   }
   &__btn-next {
      img{
      position: absolute;
      right: -66px;
      bottom: 50%;
      transform: rotateY(-50%);
      z-index: 10;
   }
   }
   &__btn-prev  {
         img{
         position: absolute;
         left: -66px;
         bottom: 50%;
         transform: rotateY(-50%);
         z-index: 10;
      }
   } 
   .carousel__dots {
      position: relative;
      top: 12px;
      .carousel__dot-item {
         width: 10px;
         height: 10px;
         text-align: center;
         line-height: 20px;
         font-size: 12px;
         color: #000;
         opacity: 1;
         background: rgba(0, 0, 0, 0.8);
       }
       .swiper-pagination-bullet-active {
         background: red;
         border: 1px solid #000
       }
   }
}

@media (max-width: 992px) {
   .carousel {
      &__inner {
         width: 70%;
      }
}
}

@media (max-width: 768px) {
   .carousel {
      .carousel {
         &__inner {
            width: 80%;
         }
   }
      &__btn-next, &__btn-prev{ 
         display: none;
      }
   
      }
}

@media (min-width: 768px) {
   .carousel {
      &__dots{
         display: none;
      }
   }
}



